EduConnect/Kiểm tra bài tập quá hạn.json
{
  "name": "Kiểm tra bài tập quá hạn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        -16
      ],
      "id": "bd150b04-50ee-417f-ac08-11e85ff799ab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Admin_Registry",
        "filter": {
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -16
      ],
      "id": "0f507036-bd8d-4343-9ad5-989cdc1b0ade",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xWyXN2JATmgJ7CPw",
          "name": "Hoàng Quốc Việt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[Admin] Teacher Resources",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -16
      ],
      "id": "19a0cb56-8733-438c-bcf3-cb43bd2b0b72",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xWyXN2JATmgJ7CPw",
          "name": "Hoàng Quốc Việt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Danh sách bài tập về nhà",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.spreadsheet"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        -16
      ],
      "id": "d86ee536-e1af-4afd-8225-d4dc81d38537",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xWyXN2JATmgJ7CPw",
          "name": "Hoàng Quốc Việt"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qEc9sRUPKKyLnKL44C38gamFDpVSoEOFObLIKSesqgs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng thái",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -16
      ],
      "id": "ca6b8d84-cc89-4364-95fd-68c5f2b11075",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8s2aVNtUE42gqLis",
          "name": "Hoàng Quốc Việt"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy ngày hôm nay và đặt giờ về đầu ngày để so sánh chính xác\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst overdueItems = [];\n\nfor (const item of $input.all()) {\n  // Lấy và chuyển đổi 'Hạn bài tập' từ dạng chữ sang dạng Ngày\n  // Code này giả định ngày có định dạng 'dd/MM/yyyy...'\n  const hanBaiTapParts = item.json['Hạn bài tập'].split(' ')[0].split('/');\n  const hanBaiTap = new Date(hanBaiTapParts[2], hanBaiTapParts[1] - 1, hanBaiTapParts[0]);\n\n  // Nếu ngày hết hạn nhỏ hơn ngày hôm nay (tức là đã quá hạn từ hôm qua)\n  if (hanBaiTap < today) {\n    // Thêm item này vào danh sách cần cập nhật\n    overdueItems.push(item);\n  }\n}\n\n// Chỉ trả về danh sách các bài tập đã quá hạn\nreturn overdueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "b26f8291-d471-4b1f-b7f8-c936090d48e6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Search files and folders2').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qEc9sRUPKKyLnKL44C38gamFDpVSoEOFObLIKSesqgs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Trạng thái": "false"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Ngày giao bài tập",
              "displayName": "Ngày giao bài tập",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lớp học",
              "displayName": "Lớp học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Môn học",
              "displayName": "Môn học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hạn bài tập",
              "displayName": "Hạn bài tập",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên bài học",
              "displayName": "Tên bài học",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài tập",
              "displayName": "Link bài tập",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -16
      ],
      "id": "9b165bbd-7904-4cb1-859b-0a97f9de476f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8s2aVNtUE42gqLis",
          "name": "Hoàng Quốc Việt"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26a92483-d5a9-43d3-a0a2-9c124ce0fc3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "l4ZUdNpbsPLueGCP",
  "tags": []
}