EduConnect/SYS_ADM_GEN_ACTIVE.json
{
  "name": "SYS_ADM_GEN_ACTIVE",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:([Thông báo - ADMIN]) is:unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        0
      ],
      "id": "a83ae22f-f79b-410a-bab2-8c708e94882c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kngvm6WXlbqXMFKV",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bước 1: Lấy nội dung văn bản thuần túy từ email\nconst emailBody = $('Gmail Trigger').item.json.text;\n\n// Bước 2: Dùng Regex với 2 nhóm bắt giữ (capturing groups)\n// Nhóm 1 (.*): Bắt giữ tên file (mọi ký tự trước dấu hai chấm)\n// Nhóm 2 (...): Bắt giữ đường link Google Form\n// cờ 'g' (global) để tìm tất cả, cờ 'm' (multiline) để xử lý trên nhiều dòng\nconst regex = /^\\s*[-*]\\s*(.*):\\s*(https:\\/\\/docs\\.google\\.com\\/forms\\/d\\/[A-Za-z0-9_-]+\\/edit)/gm;\n\n// Bước 3: Lặp qua tất cả các kết quả tìm thấy\nconst extractedFiles = [];\nlet match;\n\nwhile ((match = regex.exec(emailBody)) !== null) {\n  // match[1] là kết quả của nhóm bắt giữ thứ nhất (tên file)\n  // match[2] là kết quả của nhóm bắt giữ thứ hai (link)\n  const fileName = match[1].trim();\n  const fileUrl = match[2].trim();\n  \n  // Thêm đối tượng chứa cả tên và link vào mảng kết quả\n  extractedFiles.push({\n    name: fileName,\n    url: fileUrl\n  });\n}\n\n// Bước 4: Trả về kết quả\nreturn [{\n  json: {\n    extractedFiles: extractedFiles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        0
      ],
      "id": "c94e3abc-4475-413e-9764-c1b0bbfcb418",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.extractedFiles[0].url.split('/')[5] }}",
          "mode": "id"
        },
        "name": "={{ $json.extractedFiles[0].name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        0
      ],
      "id": "aaa87005-7a69-4ca1-b36c-45145a457cb0",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fu9XdVE4G8qIVwID",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.extractedFiles[1].url.split('/')[5] }}",
          "mode": "id"
        },
        "name": "={{ $('Code in JavaScript').item.json.extractedFiles[1].name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        768,
        0
      ],
      "id": "e1c14500-44c3-4ae4-92cb-abcf23b38b51",
      "name": "Copy file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fu9XdVE4G8qIVwID",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        0
      ],
      "id": "fd2e072d-ae1a-4ff6-a748-55c8ab5832e0",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fu9XdVE4G8qIVwID",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Admin_Registry",
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        0
      ],
      "id": "c6c1188d-f141-4170-a67b-e4a42cf36e08",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fu9XdVE4G8qIVwID",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[Admin] Teacher Resources",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        0
      ],
      "id": "74d3899c-5ae1-4c83-8f88-f34b90444f1e",
      "name": "Search files and folders2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fu9XdVE4G8qIVwID",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search files and folders2').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        0
      ],
      "id": "bdb4ac54-c84d-474d-81a9-a6d83ab6e57d",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fu9XdVE4G8qIVwID",
          "name": "duong.na.2719@aptechlearning.edu.vn"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Copy file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file1": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "RNeBVei4fXTEHRQR",
    "saveDataSuccessExecution": "none"
  },
  "versionId": "7c941780-35bd-4aa1-b65a-5901769fe234",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "9wXvJDqcZftW7VSZ",
  "tags": []
}