EduConnect/SYS_ERR_INIT_ACTIVE.json
{
  "name": "SYS_ERR_INIT_ACTIVE",
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "name": "[ADMIN] System Error Logs",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        -288
      ],
      "id": "c5c48781-970f-4215-95f4-455eb4b8702f",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=[ADMIN] Danh sách File Lỗi Người dùng",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        -288
      ],
      "id": "c32c5a2a-789b-437e-a057-38241d780176",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J9jYG0gr48KJcHaM",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b67989c-1524-49c1-b89b-8372f5a5bb64",
              "name": "Timestamp",
              "value": "",
              "type": "string"
            },
            {
              "id": "566a7ed4-cf3e-4540-b233-b712f1f152d2",
              "name": "Workflow Name",
              "value": "",
              "type": "string"
            },
            {
              "id": "8391d13d-1e42-471c-8f9c-74019ae8c19e",
              "name": "Error Message",
              "value": "",
              "type": "string"
            },
            {
              "id": "697e2d21-4bb9-4ded-a8dc-c90f43256756",
              "name": "Execution ID",
              "value": "",
              "type": "string"
            },
            {
              "id": "f8edfa10-6ac0-4bee-ab88-b17284e761f6",
              "name": "Execution URL",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        80
      ],
      "id": "7feb2562-6b12-442a-a976-d2413a83db2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet1').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s6gTgeII9ue6A_6jbdJ11-U_htnYNjIuv1qvbmEslFA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        928,
        80
      ],
      "id": "b04b79da-76e2-442d-8612-9a08890c4c0e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J9jYG0gr48KJcHaM",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet1').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('[ADMIN] System Error Logs').item.json.Folder_AdminId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1152,
        80
      ],
      "id": "505fc617-0527-4ab9-90d4-a5e0f7d173ff",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f164c355-74be-4922-858e-15f7333102d2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        160
      ],
      "id": "b56104e5-4ec9-41de-9118-da638e5dd964",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5db14c10-650a-4206-b5ee-2311ad0c5fa5",
              "name": "Admin_sheet",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        176
      ],
      "id": "8b97c678-9f40-40cd-a1ec-0c97d3323338",
      "name": "Admin_sheet"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "[ADMIN] Danh sách File Lỗi Người dùng",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        80
      ],
      "id": "c7bd27df-5ba3-4322-ac9c-662bea7c9118",
      "name": "Create spreadsheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J9jYG0gr48KJcHaM",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        144
      ],
      "id": "0566e61d-c02a-4016-b8a5-a014bcb7810a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[ADMIN] System Error Logs",
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -704,
        144
      ],
      "id": "4206a812-7fef-4a5e-8d98-ce4bf42e0497",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6103d0c8-5a6e-4b20-b83b-831f9fa6474c",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        144
      ],
      "id": "564ed33b-024d-486d-a983-591e7a6ab1ec",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "[ADMIN] System Error Logs",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        80
      ],
      "id": "1298e5d8-85e6-4b36-bfd6-5ac7064c25e2",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4dad9b7e-9e09-4ce4-94bc-01785610cc24",
              "name": "Folder_AdminId",
              "value": "={{ $json.id || $('Search files and folders').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        160
      ],
      "id": "34e7ef59-c20f-411e-a119-c52a4d6be0da",
      "name": "[ADMIN] System Error Logs"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[ADMIN] Danh sách File Lỗi Người dùng",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.Folder_AdminId }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.spreadsheet"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        160
      ],
      "id": "be39096c-1a1d-4793-8ccd-396084b61cd6",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create folder": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Admin_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Create spreadsheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[ADMIN] System Error Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "[ADMIN] System Error Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[ADMIN] System Error Logs": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin_folder": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae6f7f19-e505-491c-8eae-a12c8c4e7fe6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "FQDS3i4MFNDMpEeT",
  "tags": []
}