EduConnect/SYS_ADM_SND_ACTIVE.json
{
  "name": "SYS_ADM_SND_ACTIVE",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.senderEmail }}",
        "subject": "[Thông báo - ADMIN] Tài liệu học tập của bạn đã sẵn sàng",
        "message": "=<p>Chào bạn,</p>\n<p>Hai tài liệu học tập dưới đây đã được chia sẻ cho bạn với <strong>quyền chỉnh sửa</strong>. Bạn có thể truy cập ngay bây giờ để chỉnh sửa nội dung:</p>\n<ul>\n    <li>\n        Tạo bài tập về nhà: <a href=\"https://docs.google.com/forms/d/{{ $('Form Tạo bài tập về nhà').item.json.id }}/edit\">https://docs.google.com/forms/d/{{ $('Form Tạo bài tập về nhà').item.json.id }}/edit</a>\n    </li>\n    <li>\n      [TEMPLATE] Bài tập trắc nghiệm: <a href=\"https://docs.google.com/forms/d/{{ $('[TEMPLATE] Bài tập trắc nghiệm').item.json.id }}/edit\">https://docs.google.com/forms/d/{{ $('[TEMPLATE] Bài tập trắc nghiệm').item.json.id }}/edit</a>\n    </li>\n</ul>\n<p>Chúc bạn học tốt!</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        0
      ],
      "id": "27b20cb8-12c1-4d2f-b73e-5cf320394952",
      "name": "Send a message",
      "webhookId": "c9cd3f4a-cefe-4687-933c-5d25ab9ce7d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "9edZe3NxAQERSCAN",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Tạo bài tập về nhà",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search files and folders2').item.json.id }}",
            "mode": ""
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.form"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        0
      ],
      "id": "03907420-aced-49ac-b06b-9503ebfd6de6",
      "name": "Form Tạo bài tập về nhà",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[Admin] Teacher Resources",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "ab84175a-86c3-46a8-b78e-002196fe7988",
      "name": "Search files and folders2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[TEMPLATE] Bài tập trắc nghiệm",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.form"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "a066b367-ac31-4528-a969-b5a48cdaa582",
      "name": "[TEMPLATE] Bài tập trắc nghiệm",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Admin_Registry",
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "60902bcd-6721-440a-87f9-81b57512d619",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "tiếp tục hoàn thành tự động gửi file lại cho người dùng"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -320
      ],
      "id": "9fd59c8f-b2f2-4573-a702-fc6bb17079e3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Bước 1: Lấy dữ liệu từ node Gmail Trigger\nconst triggerOutput = $('Gmail Trigger').item.json;\n\n// -- BƯỚC SỬA LỖI CHO SENDER EMAIL --\nconst fromHeader = triggerOutput.headers.from; // Lấy chuỗi 'from' từ headers\nlet senderEmail = ''; // Giá trị mặc định nếu không tìm thấy\n\nif (fromHeader && typeof fromHeader === 'string') {\n  // Sử dụng regex để trích xuất email từ chuỗi\n  // Regex này khớp với định dạng \"From: email@domain.com\" hoặc \"From: Tên <email@domain.com>\"\n  const emailMatch = fromHeader.match(/<([^>]+)>/) || fromHeader.match(/:\\s*([\\w\\.-]+@[\\w\\.-]+)/);\n  if (emailMatch) {\n    senderEmail = emailMatch[1] || emailMatch[0]; // Lấy phần email đã match\n  }\n} else if (fromHeader && Array.isArray(fromHeader) && fromHeader.length > 0) {\n  // Dự phòng cho trường hợp array (như trong mã cũ)\n  senderEmail = fromHeader[0].address;\n} else if (fromHeader && typeof fromHeader === 'object' && fromHeader.address) {\n  // Dự phòng cho object đơn lẻ\n  senderEmail = fromHeader.address;\n}\n\n// Nếu vẫn không có senderEmail, xử lý lỗi (có thể throw để kích hoạt error workflow)\nif (!senderEmail) {\n  throw new Error(\"Không thể trích xuất email người gửi từ headers.from.\");\n}\n// -- KẾT THÚC BƯỚC SỬA LỖI --\n\n// Bước 2: Lấy nội dung TEXT từ trường 'text' (thay vì 'textAsHtml')\nconst textContent = triggerOutput.text;\n\n// Bước 3: Kiểm tra xem có nội dung text không\nif (!textContent) {\n  return [{\n    json: {\n      error: \"Không tìm thấy trường 'text' trong input.\"\n    }\n  }];\n}\n\n// Bước 4: Dùng Regex mới cho văn bản thuần\nconst regex = /- \\*Tên tệp:\\*\\s*(.*)\\n\\s*\\*Tình trạng:\\*\\s*(.*)/g;\nconst allFiles = [];\nconst missingFiles = [];\nlet match;\n\n// Vòng lặp để lấy tất cả các kết quả khớp với Regex\nwhile ((match = regex.exec(textContent)) !== null) {\n  const fileName = match[1].trim();\n  const status = match[2].trim();\n  allFiles.push({ name: fileName, status: status });\n  if (status.includes('Không tìm thấy')) {\n    missingFiles.push(fileName);\n  }\n}\n\n// Bước 5: Trả về kết quả đã xử lý\nreturn [{\n  json: {\n    senderEmail: senderEmail,\n    hasMissingFiles: missingFiles.length > 0,\n    missingCount: missingFiles.length,\n    missingFileList: missingFiles,\n    allFilesInfo: allFiles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "518b389f-cfb2-4a3f-b173-937072d2ca69",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:([ADMIN]) is:unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0ca09545-2fe2-4cc1-993d-8f64cb85a52c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "9edZe3NxAQERSCAN",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Form Tạo bài tập về nhà": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "[TEMPLATE] Bài tập trắc nghiệm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TEMPLATE] Bài tập trắc nghiệm": {
      "main": [
        [
          {
            "node": "Form Tạo bài tập về nhà",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95784e25-0918-44d6-8e2e-eefbd482b1ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "vPZZ3CBfPJcdUMs0",
  "tags": []
}