EduConnect/SYS_ERR_GEN.json
{
  "name": "SYS_ERR_GEN",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -64
      ],
      "id": "a6e08812-f71b-4b07-b3c3-cc5c3dbdb2eb",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b67989c-1524-49c1-b89b-8372f5a5bb64",
              "name": "Timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "566a7ed4-cf3e-4540-b233-b712f1f152d2",
              "name": "Workflow Name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "8391d13d-1e42-471c-8f9c-74019ae8c19e",
              "name": "Error Message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "697e2d21-4bb9-4ded-a8dc-c90f43256756",
              "name": "Execution ID",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "f8edfa10-6ac0-4bee-ab88-b17284e761f6",
              "name": "Execution URL",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -64
      ],
      "id": "ed616ddd-f23b-4bd2-98bc-afd50668f0fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[ADMIN] System Error Logs",
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -64
      ],
      "id": "0382910f-cd4a-4083-a9d4-f47af8bd360a",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "[ADMIN] Danh sách File Lỗi Người dùng",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.spreadsheet"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        -64
      ],
      "id": "59a2abd7-f861-4413-821a-4c6d7ec7ea3e",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n9HuVgvCKB2UlLed",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_zjuUVojEBxQY6e4Jr1QZ7KhdCZmE1E3tjdgbQiDxwE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Edit Fields').item.json.Timestamp }}",
            "Workflow Name": "={{ $('Edit Fields').item.json['Workflow Name'] }}",
            "Error Message": "={{ $('Edit Fields').item.json['Error Message'] }}",
            "Execution ID": "={{ $('Edit Fields').item.json['Execution ID'] }}",
            "Execution URL": "={{ $('Edit Fields').item.json['Execution URL'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution URL",
              "displayName": "Execution URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -64
      ],
      "id": "4bd6fedd-3cb4-40a7-a363-f7515041dc7e",
      "name": "Append row in sheet",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J9jYG0gr48KJcHaM",
          "name": "duonganhdn2000@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43ce86bc-8ace-4d13-a87d-1ad36a3a7c5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "RNeBVei4fXTEHRQR",
  "tags": []
}